.app{
    display: flex;
    background-color: greenyellow;
    align-items: center;
    justify-content: center;
    min-height: 100vh; 
    width:100%;
    /* 전체 화면 높이 */
}
.sidebar{
    background-color: black;
    color: white;
    width: 400px;
    height: 100vh;
    display: flex;
}

.hero-section{
    background-color: white;
    color: black;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}